.login-form {
    min-width: 150px;
    max-width: 500px;
  }
  .login-container{
    min-width: 150px;
    max-width: 500px;
    margin-top: 5%;
    margin-left: 30%;
  }
  .btn-block {
    display: block;
    width: 100%;
  }
  
  .full-width {
    width: 100%;
    display: block;
  }