<mat-card class="login-container">
  <mat-card-title>
    System Login
  </mat-card-title>
  <mat-card-subtitle>Enter Username and Password To Acces Dispensary System</mat-card-subtitle>
  <mat-card-content>
    <form class="login-form">
      <mat-form-field class="full-width">
        <input matInput placeholder="Username" />
      </mat-form-field>

      <mat-form-field class="full-width">
        <input type="password" matInput placeholder="Password" />
      </mat-form-field>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="accent" class="btn-block">System Login!</button>
  </mat-card-actions>

</mat-card>